<div class="main-wrapper">
    <div class="main-offwhite-background">
        <div class="main-inner">
            <div class="content-title">
                <div class="content-title-inner">
                    <div class="container">
                        <h1>The typical story of finding a hostel</h1>

                    </div><!-- /.container -->
                </div><!-- /.content-title-inner -->
            </div><!-- /.content-title -->

            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="content">
                            <div class="post-detail">
                                <p class="col-md-4 col-lg-4 alignright">
                                    <img class="alignright" src="https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/blog_posts/blog-post-hostels/7.jpg" alt="Hostel in Islamabad Rawalpindi" width="371" height="249">
                                </p>
                                <p class="col-md-8 col-lg-7 alignleft">
                                    Imran had just got the pre-engineering degree from his college in Chitral, and like many of other students in Pakistan, he had to move to one of the big cities to continue his higher studies in a university. He chose one in Lahore. With his bag packed, along with dreams of one day becoming an engineer, he sat off on this journey one morning by boarding a bus, that would take him to Islamabad and then he would switch another bus to reach Lahore. He had talked to an uncle of his to stay at his home for a while before he could find a godd hostel that met his needs and budget.
                                </p>
                                <p class="col-md-8 col-lg-7 alignleft">
                                    After about a day of travel, Imran reached Lahore. His uncle was there at the bus station to pick him. Then the usual proceedings of meeting, going home and resting. He then talked to his uncle about whether he has found a hostel for him to stay? His uncle replied in all honesty, that he had tried somewhat but as finding a hostel room is much tme consuming, he wasn't able to search for much as it needed a lot of time and effort - which he didn't have. So it was up to Imran to find a suitable hostel for himself now.
                                </p>
                                <p class="col-md-8 col-lg-7 alignleft">
                                    His classes started. After his classes, he set out to finding a hostel. He got out Google Maps and searched for hostels. But, he was only able to find the location of the hostels. In the best cases, there was also a phone number where he called, and within every call, he had to ask for each and every detail about the hostel room. Being a student, he didn't had much budget to make this much calls and spend his talk time.
                                </p>
                                <p class="col-md-8 col-lg-7 alignleft">
                                    Even after getting all the information out of the call, he still had to go those hostels to see upfront how those hostels actually looked like from the inside, so he could make his final decision. He had shorlisted 5 of these hostels. Now the next difficult task - he didn't had a bike or a car, he had to use a taxi or public transport in order to reach these hostels and check them out. Again, budget contraints call out. But he had to do it, so he went from one hostel to another in Lahore, sometimes riding on a wagon, sometimes a rickshaw, sometimes a taxi. One by one, he had gone through all of these hostels. These hostels were good, but he wanted to find out more, so he had a more broad variety to pick up from. Baffled na tired, he came back to his uncle's home and went straight to bed.
                                </p>
                                <p class="col-md-4 col-lg-4 alignright">
                                    <img class="alignright" src="https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/blog_posts/blog-post-hostels/8.jpg" alt="Find a hostel room" width="371" height="249">
                                </p>
                                <p class="col-md-8 col-lg-7 alignleft">
                                    The next day, he went to his class and had a conversation started with his class mates. One of them talked about of a new website launch in Pakistan, where people could list their hostels or rental property of any kind online, and other people could easily find these hostels, houses and apartments in the right areas by using a search functionality exactly the same as it is used in Google Maps.
                                </p>
                                <p class="col-md-8 col-lg-7 alignleft">
                                    The site's name was Zarqoon.com
                                </p>
                                <p class="col-md-8 col-lg-7 alignleft">
                                    As soon as the class finished, he went up-to the computer lab, opnened the browser and entered Zarqoon.com. As soon as the site opened, he put in the area that he wanted the hostel in, selected 'Hostel' as the property type, and clicked Search. As soon as the next page loaded, he sparkled at the site of organized search results, starting from the location that he had entered. He could see the necessary information in the list of those hostels, and upon clicking, he could see more: Pictures, Rent Price, Facilities, Restrictions, Description, everything that he wanted to know and see about a hostel. He opened the details of many of such hostels and compared them, before finally calling the hostel numbers that he had shortlisted. The calls went well, he visted a few of the shortlisted hostels and chose one of them. Finding a hostel was never this easy.
                                </p>
                                <p class="col-md-8 col-lg-7 alignleft">
                                    Just like Imran, you can find a hostel room in any major city like Lahore, Islamabad, Karachi, or anywhere else in Pakistan. All towns and locations that are included in Google Maps can be found on Zarqoon.com, because our search is powered by Google. You can also find hostel rooms on a monthly, weekly, daily or hourly basis; whether it is a single hostel room or multiple rooms. It is a perfect recipe for students, working personnel and backpackers. Our vision at Zarqoon.com is to make the finding of a place to stay easy, simple and straight-forward, in a matter of a few clicks and a phone call.
                                </p>
                                <p class="col-md-4 col-lg-4 alignright">
                                    <img class="alignright" src="https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/blog_posts/blog-post-hostels/9.jpg" alt="Hostel in Lahore" width="371" height="249">
                                </p>
                                <p class="col-md-8 col-lg-7 alignleft">
                                    Be a part of this revolution, join us by <a ui-sref="signup">signing up</a> at Zarqoon.com.
                                </p>
                            </div><!-- /.post-detail -->
                        </div><!-- /.content -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div><!-- /.main-wrapper -->