<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-9">
                            <div class="row">
                            </div><!-- /.row -->
                            <div class="widget">
                                <h1 class="widgettitle">How our algorithms work?</h1>
                                <p>
                                    When you enter a location, we provide you with a list of hostels, houses and/or apartments available for rent within 2 Kilometer radius of that location. And
                                    we use Google Geocoding service integrated with our tested algorithms to accomplish that. So whether it is a house for rent in Bahria Town or hostel in Islamabad,
                                    we will give you the search results we have within the 2 Kilometer radius range of your search.
                                </p>
                                <h1 class="widgettitle">How to find suitable hostels or houses on rent for accommodation?</h1>
                                <p>
                                    How to find hostels or houses & apartments on rent in a location of your choosing? Sure you can search for Hostels in Islamabad or Hostels in Rawalpindi,
                                    But how about making it more granular? Like hostels in F-7 Islamabad or House for rent in Bahria Town Rawalpindi?
                                    <br/>
                                    So we came up with the idea of Zarqoon; to help people in finding hostels in Islamabad & Rawalpindi, plus apartments and houses for rent, so that
                                    everyone is able to find accommodation in a specific area and they dont have to go through the headache of trying to locate one in an entire city.
                                </p>
                                <h1 class="widgettitle">Why Hostels?</h1>
                                <p>
                                    Although property websites in Pakistan have really come into play for buying and selling houses and are doing a good job. But as far as hostels are concerned, there are not much options
                                    available. Although there is a huge community of students who need accomodation in hostels and can't find a way except for a brute force research of a city to find
                                    the perfect accommodation that suits their needs. We are starting from hostels in Islamabad and hostels in Rawapindi, which can be easily located by students and backpackers, whether
                                    multiple rooms or a single room hostel is required.
                                </p>
                                <h1 class="widgettitle">Houses on rent</h1>
                                <p>
                                    Getting the right paying guest and getting the right landlord is critical, along with the locality of a specific town or market when searching for houses and apartments on rent.
                                    We not only want to make finding a house or apartment on rent easy, but we also want to make sure
                                    that both the paying guest and landlord know as much there is about each other and the property before they come into contact. We will be refining this process of 'knowing each other' with time
                                    and hope to provide even better features as time passes. So finding a house for rent in Islamabad, Rawalpindi or anywhere in Pakistan is just a few clicks away.
                                </p>
                                <h1 class="widgettitle">It's all open - end to end</h1>
                                <p>
                                    The properties that are listed on Zarqoon are not owned, controlled or managed by Zarqoon by any way. We are a platform where users - individuals, real estate agents and hostel owners -
                                    post their properties and other users who are looking for them can search for these properties on our application. It is up to the landlord and the paying guest to
                                    finalize the dealings between them. Zarqoon.com will not be responsible in case of any theft, fraud, argument or dispute of any sort.
                                    <br />
                                    But it is our ultimate hope that whoever deals on our platform gets the best experience afterwards without any fuss, whether it's the landlord or the paying guest.
                                </p>
                            </div><!-- /.widget -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div><!-- /.main-wrapper -->

<link href="../lib/angular-material/angular-material.min.css" rel="stylesheet">