<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-9">
                            <div class="row">
                            </div><!-- /.row -->
                            <div class="widget">
                                <h2 class="widgettitle">About Us</h2>
                                <p>Zarqoon was established with a vision; help people find the best properties for their needs on rent and getting the most suitable paying guests.
                                    <br/>
                                    We want to become a significant part of the 'Sharing Economy' by utilizing the best tools and technologies at our disposal in order to enable people 
                                    search for the properties they want, at the places they want. We are utiizing Google powered search capability to ensure our users can locate properties 
                                    in the exact area they like and catch up with property owners who are interested to put their property on rent.
                                <br/>    
                                We are a startup based in Islamabad, and are in our early stages. We love your feedback and suggestions to help make our product better and we look forward to 
                                    every piece of advice that we get from our users.</p>
                            </div><!-- /.widget -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div><!-- /.main-wrapper -->

<link href="../lib/angular-material/angular-material.min.css" rel="stylesheet">