<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">

            <div class="content-title">
                <div class="content-title-inner">
                    <div class="container">
                        <h1>Most Recent Posts</h1>
                    </div><!-- /.container -->
                </div><!-- /.content-title-inner -->
            </div><!-- /.content-title -->

            <div class="content">
                <div class="container">
                    <div class="posts">

                        <div class="post">
                            <div class="post-date">
                                <strong>5</strong>
                                <span>July</span>
                            </div>
                            <div class="post-image">
                                <a ui-sref="blog-post-1" class="post-image-link" style="background-image: url('https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/blog_posts/blog-post-1/blog-post-1-hotel.jpg');"></a>
                                <div class="post-author">
                                    <a ui-sref="blog-post-1">
                                    </a>
                                </div><!-- /.post-author -->
                            </div><!-- /.post-image -->
                            <div class="post-title">
                                <h2><a ui-sref="blog-post-1">How the idea of Zarqoon came about?</a></h2>
                            </div><!-- /.post-title -->
                            <div class="post-meta">
                                <div class="post-meta-item">
                                    <i class="fa fa-calendar"></i> 5/7/2017
                                </div><!-- /.post-meta-item -->
                            </div><!-- /.post-meta -->
                            <div class="post-content">
                                <p>
                                    Zarqoon.com was created as a result of our founder seeing people not being able to find the right property that they wanted
                                </p>
                            </div><!-- /.post-content -->
                            <div class="post-read-more">
                                <a ui-sref="blog-post-1">Read More <i class="fa fa-chevron-right"></i></a>
                            </div><!-- /.post-read-more -->
                        </div><!-- /.post-->

                    </div><!-- /.posts-->
                </div><!-- /.container -->
                <!--<div class="pagination-wrapper">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item active"><a class="page-link" href="#">3 <span class="sr-only">(current)</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>--><!-- /.pagination -->
                <!--</div>--><!-- /.pagination-wrapper -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div><!-- /.main-wrapper -->