<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-9">
                            <div class="row">
                            </div><!-- /.row -->
                            <div class="widget">
                                <h2 class="widgettitle">Contact Information</h2>
                                <p>We really look forward to your suggestions and feedback.</p>
                                <table class="contact">
                                    <tbody>
                                    <!--<tr>
                                        <th>Address:</th>
                                        <td>2300 Main Ave.<br>Lost Angeles, CA 23123<br>United States<br></td>
                                    </tr>
                                    <tr>
                                        <th>Phone:</th>
                                        <td>+0-123-456-789</td>
                                    </tr>-->
                                    <tr>
                                        <th>E-mail:</th>
                                        <td><a href="mailto:info@example.com">support@zarqoon.com</a></td>
                                    </tr>
                                    <!--<tr>
                                        <th>Skype:</th>
                                        <td>your.company</td>
                                    </tr>-->
                                    </tbody>
                                </table>
                            </div><!-- /.widget -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div><!-- /.main-wrapper -->

<link href="../lib/angular-material/angular-material.min.css" rel="stylesheet">