<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://zarqoon.com",
    "logo": "https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/Zarqoon_Orange_logo.png"
    }
</script>
<span itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="https://zarqoon.com">
    <a itemprop="sameAs" href="https://facebook.com/zarqoondotcom">FB</a>
    <a itemprop="sameAs" href="https://www.instagram.com/zarqoondotcom">Instagram</a>
</span>
<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-9">
                            <div class="row">
                            </div><!-- /.row -->
                            <div class="widget">
                                <h2 class="widgettitle">Contact Information</h2>
                                <p>We really look forward to your suggestions and feedback.</p>
                                <table class="contact">
                                    <tbody>
                                    <tr>
                                        <th>E-mail:</th>
                                        <td><a href="mailto:support@zarqoon.com">support@zarqoon.com</a></td>
                                    </tr>
                                    
                                    <!--<tr>
                                        <th>Address:</th>
                                        <td>2300 Main Ave.<br>Lost Angeles, CA 23123<br>United States<br></td>
                                    </tr>
                                    <tr>
                                        <th>Phone:</th>
                                        <td>+0-123-456-789</td>
                                    </tr>-->

                                    <!--<tr>
                                        <th>Skype:</th>
                                        <td>your.company</td>
                                    </tr>-->
                                    </tbody>
                                </table>
                                <div class="col-md-12 margin-top">
                                    <ul class="social-network social-circle">
                                        <li><a href="https://web.facebook.com/zarqoondotcom" target="_blank" class="social-initial-color icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.instagram.com/zarqoondotcom/?hl=en" target="_blank" class="social-initial-color icoInstagram" title="Zarqoon on Instagram"><i class="fa fa-instagram"></i></a></li>
                                        <!--<li><a href="#" class="social-initial-color icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-initial-color icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                        <li><a href="#" class="social-initial-color icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#" class="social-initial-color icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>-->
                                    </ul>
                                </div>
                            </div><!-- /.widget -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div><!-- /.main-wrapper -->

<link href="../lib/angular-material/angular-material.min.css" rel="stylesheet">