<!--<!DOCTYPE html>

<body class="cover-pull-top header-transparent">
<div class="page-wrapper">-->

<div class="main-wrapper">
    <!--<div class="main">-->
    <div class="main-inner">


        <div class="content">
            <div class="cover cover-center">
                <div class="cover-image" style="background-image: url('https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/cover1-trimmed.png');">
                    <!--<img src="/images/cover1-trimmed.png" />--><!-- style="height:600px; width:1300px;overflow: hidden;">-->
                </div><!-- /.cover-image -->
                <!--<div class="cover-title">-->

                <div class="container">
                    <div class="cover-title-inner" style="padding-top:73px;">
                        <h1>Start Searching for houses on rent</h1>
                        <p> </p>
                        <!--<p> Villareal implements features like favorites, compare properties, advanced search fields. For more information check out full list of features.</p>-->
                    </div><!-- /.cover-title-->

                    <form ng-submit="searchHouses()">
                        <div class="form-group col-sm-3">
                            <input class="form-control" type="text" name="location" placeholder="Enter Location" options="autocompleteOptions" g-places-autocomplete ng-model="area" autocomplete="off">
                        </div><!-- /.form-group -->
                        <div class="form-group col-sm-3">
                            <select class="form-control" ng-model="selectedPropertyType"
                                    ng-options="propertyType as propertyType for propertyType in propertyTypes">
                                <option value="" disabled selected style="display: none;">Property Type</option>
                            </select>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group col-sm-2">
                            <button type="submit" class="btn btn-primary btn-block">Search</button>
                        </div>
                    </form>
                </div><!-- /.container -->
                <!--</div>--><!-- /.cover-title -->
            </div><!-- /.cover -->

        </div><!-- /.content -->
    </div><!-- /.main-inner -->
    <!--</div>--><!-- /.main -->
    <div class="container" style="margin-top: -10px;">
            <div class="background-white fullwidth">
                <div class="boxes">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <a ui-sref="upload-house"><i class="fa fa-upload"></i></a>
                                    <!--<i class="fa fa-upload"></i>-->
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <a ui-sref="upload-house">
                                        <h2>Post Your Property</h2>
                                    </a>
                                    <p>Post your hostel, apartment or house for rent by clicking or tapping the icon above</p>
                                    </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <i class="fa fa-search"></i>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <h2>Search any location in Pakistan</h2>
                                    <p>Enter a location where you want to find a hostel, apartment or house on rent and choose from the list of suggestions</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->

                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <i class="fa fa-google"></i>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <h2>Google Powered Search</h2>
                                    <p>While you enter a location, we autocomplete it and show a list of related places, using Google powered search technology</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <i class="fa fa-home"></i>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <h2>Any place for rent</h2>
                                    <p>Whether it is Hostel Room, A Shared Accomodation, a House or an Apartment, you can post or find any kind 
                                    of property space on Zarqoon.com</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.boxes -->
            </div>
    </div><!-- /.container -->
    <div ui-view></div>
</div><!-- /.main-wrapper -->
<!--</div>--><!-- /.page-wrapper -->

<link href="../lib/angular-material/angular-material.min.css" rel="stylesheet">

<!--<script src="//maps.googleapis.com/maps/api/js" type="text/javascript"></script>

<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.ezmark.min.js"></script>
<script type="text/javascript" src="assets/js/tether.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/gmap3.min.js"></script>
<script type="text/javascript" src="assets/js/leaflet.js"></script>
<script type="text/javascript" src="assets/js/leaflet.markercluster.js"></script>
<script type="text/javascript" src="assets/libraries/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/libraries/chartist/chartist.min.js"></script>
<script type="text/javascript" src="assets/js/scrollPosStyler.js"></script>
<script type="text/javascript" src="assets/js/villareal.js"></script>-->

<!--</body>-->