<!--<!DOCTYPE html>

<body class="cover-pull-top header-transparent">
<div class="page-wrapper">-->

<div class="main-wrapper" ng-controller="SearchController">
    <!--<div class="main">-->
    <div class="main-inner">


        <div class="content">
            <div class="cover cover-center">
                <div class="cover-image">
                    <img src="/images/cover1-trimmed.png" /><!-- style="height:600px; width:1300px;overflow: hidden;">-->
                </div><!-- /.cover-image -->
                <!--<div class="cover-title">-->

                <div class="container">
                    <div class="cover-title-inner" style="padding-top:165px;">
                        <h1>Start Searching</h1>
                        <p> </p>
                        <!--<p> Villareal implements features like favorites, compare properties, advanced search fields. For more information check out full list of features.</p>-->
                    </div><!-- /.cover-title-->

                    <form ng-submit="searchHouses()">
                        <div class="form-group col-sm-3">
                            <input class="form-control" type="text" name="location" placeholder="Location" options="autocompleteOptions" g-places-autocomplete ng-model="area" autocomplete="off">
                        </div><!-- /.form-group -->
                        <div class="form-group col-sm-3">
                            <select class="form-control" ng-model="selectedPropertyType"
                             ng-options="propertyType as propertyType for propertyType in propertyTypes">
                                <option value="" disabled selected style="display: none;">Property Type</option>
                            </select>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group col-sm-2">
                            <button type="submit" class="btn btn-primary btn-block">Search</button>
                        </div>
                    </form>
                </div><!-- /.container -->
                <!--</div>--><!-- /.cover-title -->
            </div><!-- /.cover -->

        </div><!-- /.content -->
    </div><!-- /.main-inner -->
    <!--</div>--><!-- /.main -->
    <div class="container">
        <div class="push-top">
            <div class="background-white fullwidth">
                <div class="boxes">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <i class="fa fa-search"></i>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <h2>Enter location to search</h2>
                                    <p>Enter a location to search and we will autocomplete it with suggestions for you to choose.</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <i class="fa fa-list"></i>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <h2>Check out properties</h2>
                                    <p>Check out the search results for your criteria and choose from a list of properties.</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <i class="fa fa-phone-square"></i>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <h2>Get in touch with owners</h2>
                                    <p>When you are interested in a property, get the phone number of the property's owner.</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <i class="fa fa-suitcase"></i>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <h2>Finalize and move in</h2>
                                    <p>Finalize arrangement and proceedings with the proeprty owner and get ready to move into your newly rented space.</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.boxes -->
            </div>
        </div>
    </div><!-- /.container -->
    <div ui-view></div>
</div><!-- /.main-wrapper -->
<!--</div>--><!-- /.page-wrapper -->

<link href="../lib/angular-material/angular-material.min.css" rel="stylesheet">

<!--<script src="//maps.googleapis.com/maps/api/js" type="text/javascript"></script>

<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.ezmark.min.js"></script>
<script type="text/javascript" src="assets/js/tether.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/gmap3.min.js"></script>
<script type="text/javascript" src="assets/js/leaflet.js"></script>
<script type="text/javascript" src="assets/js/leaflet.markercluster.js"></script>
<script type="text/javascript" src="assets/libraries/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/libraries/chartist/chartist.min.js"></script>
<script type="text/javascript" src="assets/js/scrollPosStyler.js"></script>
<script type="text/javascript" src="assets/js/villareal.js"></script>-->

<!--</body>-->