<!--<!DOCTYPE html>

<body class="cover-pull-top header-transparent">
<div class="page-wrapper">-->

<div class="main-wrapper">
    <!--<div class="main">-->
    <div class="main-inner">


        <div class="content">
            <div class="cover cover-center">
                <div class="cover-image" style="background-image: url('https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/Landing_Page/landing_page-cover-photo.png');">
                    <!--<img src="/images/cover1-trimmed.png" />--><!-- style="height:600px; width:1300px;overflow: hidden;">-->
                </div><!-- /.cover-image -->
                <!--<div class="cover-title">-->

                <div class="container">
                    <div class="cover-title-inner" style="padding-top:73px;">
                        <h1>Start Searching for Properties on rent</h1>
                        <p> </p>
                        <!--<p> Villareal implements features like favorites, compare properties, advanced search fields. For more information check out full list of features.</p>-->
                    </div><!-- /.cover-title-->

                    <form ng-submit="searchHouses()">
                        <div class="form-group col-sm-3">
                            <input class="form-control" type="text" name="location" placeholder="Enter Location(Autocomplete)" options="autocompleteOptions" g-places-autocomplete ng-model="area" autocomplete="off">
                        </div><!-- /.form-group -->
                        <div class="form-group col-sm-3">
                            <select class="form-control" ng-model="selectedPropertyType"
                                    ng-options="propertyType as propertyType for propertyType in propertyTypes">
                                <option value="" disabled selected style="display: none;">Property Type</option>
                            </select>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group col-sm-2">
                            <button type="submit" class="btn btn-primary btn-block">Search</button>
                        </div>
                    </form>
                </div><!-- /.container -->
                <!--</div>--><!-- /.cover-title -->
            </div><!-- /.cover -->

        </div><!-- /.content -->
    </div><!-- /.main-inner -->
    <!--</div>--><!-- /.main -->
    <div class="container" style="margin-top: -10px;">
            <div class="background-white fullwidth">
                <div class="boxes">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <a ui-sref="upload-house"><i class="fa fa-upload"></i></a>
                                    <!--<i class="fa fa-upload"></i>-->
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <a ui-sref="upload-house">
                                        <h2>Got Property For Rent?</h2>
                                    </a>
                                    <p>Post your property for rent by clicking the icon above. You need to <a ui-sref="pre-signup">sign up</a>(using Facebook or Email) in order to post. Post houses, hostel rooms, apartments, hotel or guest house rooms</p>
                                    </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <a ui-sref="search-results"><i class="fa fa-search"></i></a>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <a ui-sref="search-results">
                                        <h2>Looking For a Place On Rent?</h2>
                                    </a>
                                    <p>Search hostel rooms, houses, apartments, hotel rooms and guest house rooms anywhere, at the best rates. No signup required</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                        
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <a ui-sref="pre-signup">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <a ui-sref="pre-signup">
                                        <h2>Absolutely Free Of Cost</h2>
                                        </a>
                                        <p>There are NO charges for anything. Post as much properties as you want</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <a ui-sref="search-results">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <a ui-sref="search-results">
                                        <h2>Any City Or Town</h2>
                                    </a>
                                    <p>There is no restriction for any city. Start typing a place and we will autocomplete it for you with related suggestions, just like in Google Maps</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.boxes -->
            </div>
    </div><!-- /.container -->
    <hr />
    <div class="container" style="margin-top: -10px;">
        <div class="row">
            <div class="listing-detail col-lg-8 col-md-8">
                <h1>Space for Rent is the new trend</h1>
                <p>
                    Zarqoon.com is a platform for posting and searching properties for rent. Anyone can post as much properties as they want, absolutely
                    free of charge. Likewise, anyone can search for any kind of property for rent without a hassle. Post any kind of space you have; a 
                    single room, multiple rooms, a portion, a floor or the whole property, anything. There is no restriction of posting a whole house or 
                    apartment for rent, any size or space is enough. Likewise there is no limit on the number of paying guests that you want for your 
                    property, for example, if you want multiple paying-guests for a single property, go ahead and reap 
                    the benefits of posting your property on Zarqoon.com
                </p>
            </div>
            <div class="listing-detail col-lg-4 col-md-4">
                <img class="image-fit-to-container" src="https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/Landing_Page/landing-page-sharing-economy.jpg" alt="Sharing Economy - Rent your space" />
            </div>
        </div>
        <div class="row">
            <div class="listing-detail col-lg-4 col-md-4">
                <img class="image-fit-to-container" src="https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/Landing_Page/landing-page-stone-on-fire.jpg" alt="Zarqoon - Stone on Fire" />
            </div>
            <div class="listing-detail col-lg-8 col-md-8">

                <h1>Why Zarqoon.com</h1>
                <p>
                    At Zarqoon.com, we have put in tons of work researching the user interface and workflows, to make it simple and easy 
                    for our users to navigate through our site. We have strived to make the property listings detailed and comprehensive, yet clean and 
                    elegant. So when you post your properties, we want to make sure you do it without scratching your head. And when you are searching and 
                    going through properties, it is a satisfying experience.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="listing-detail col-lg-8 col-md-8">
                <h1>Search... With the power of Google</h1>
                <p>
                    The purpose of Zarqoon.com is to make
                    the process of renting properties as smooth as possible, whether the rented property is a Hostel Room, a House, an Apartment or a
                    Hotel Room. That's why we have used Google Powered Geocoding and Places API in our search algorithms so that you can post or search property
                    in any location in Pakistan, whether it's Islamabad, Rawalpindi, Chitral, Karachi, Lahore, Sikandarabad or any other place or town;
                    Zarqoon.com is available to you to post it anywhere and be found by our growing population of users.
                </p>
            </div>
            <div class="listing-detail col-lg-4 col-md-4">
                <img class="image-fit-to-container" src="https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/Landing_Page/landing-page-google.jpg" alt="Google powered rent property search" />
            </div>
        </div>
        <div class="row">
            <div class="listing-detail col-lg-4 col-md-4">
                <img class="image-fit-to-container" src="https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/Landing_Page/landing-page-open-to-the-public.jpg" alt="For Rent - Open to the public" />
            </div>
            <div class="listing-detail col-lg-8 col-md-8">
                <h1>Open For Everyone</h1>
                <p>
                    Everyone is welcome at Zarqoon.com to post their property for rent, whether you are a property dealer or not. The properties posted on
                    Zarqoon.com are not owned by, linked or commissioned to Zarqoon.com in any way. It's all open end-to-end and anyone can post, whether you are a Hostel
                    Owner, a Real Estate agent or any other person who wants to put a place up for rent and earn money from it.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="listing-detail col-lg-8 col-md-8">
                <h1>Hostels For Rent</h1>
                <p>
                    Hostel Owners have the unique opportunity for reaching out people who are looking for hostel rooms, especially students and backpackers. 
                    Putting a Hostel room up for rent on
                    Zarqoon.com will allow their potential customers to see the details of the hostel room such as it's rent price, restrictions, facilities,
                    pictures and owner's promotional description. Our aim is to make Zarqoon.com a platform to bridge the gap between hostel rooms for rent
                    and the people who want to stay in them.
                </p>
            </div>
            <div class="listing-detail col-lg-4 col-md-4">
                <img class="image-fit-to-container" src="https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/Landing_Page/landing-page-hostel-for-rent.jpg" alt="Hostel for Rent" />
            </div>
        </div>
        <div class="row">
            <div class="listing-detail col-lg-4 col-md-4">
                <img class="image-fit-to-container" src="https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/Landing_Page/landing-page-house-for-rent.jpg" alt="House for Rent" />
            </div>
            <div class="listing-detail col-lg-8 col-md-8">

                <h1>Houses For Rent</h1>
                <p>
                    House owners can post their whole house or a part of it up for rent on Zarqoon.com. Just like in the case of any property on our website, all 
                    the possible details, rules & regulations, pictures and rent price can be put on display. Our website does not only focus on real estate agents, 
                    but also on every non-property-dealing person as well, as we want to communicate the best paying-guests with the best house owners, no matter
                    what their profession is.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="listing-detail col-lg-8 col-md-8">
                <h1>Apartments For Rent</h1>
                <p>
                    Apartments, whether luxury or modest, furnished or unfurnished, can be posted for rent along with all their details, so they can be found by Zarqoon.com's 
                    growing userbase. A complete apartment or a part of it, such as single or multiple rooms can be put up for rent on Zarqoon.com.
                    As it is being proven recently that the demand for apartments has increased and renting apartments is a trend that is increasing by the minute, 
                    posting your apartment for rent on Zarqoon.com to reach out a vast majority of potential customers is the right approach. 
                </p>
            </div>
            <div class="listing-detail col-lg-4 col-md-4">
                <img class="image-fit-to-container" src="https://storage.googleapis.com/rentstuff-1022-photo-storage-bucket/Company_Images/Landing_Page/landing-page-apartment-for-rent.jpg" alt="Apartment for Rent" />
            </div>
        </div>
    </div>
        <div ui-view></div>
    </div><!-- /.main-wrapper -->
<!--</div>--><!-- /.page-wrapper -->

<link href="../lib/angular-material/angular-material.min.css" rel="stylesheet">

<!--<script src="//maps.googleapis.com/maps/api/js" type="text/javascript"></script>

<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.ezmark.min.js"></script>
<script type="text/javascript" src="assets/js/tether.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/gmap3.min.js"></script>
<script type="text/javascript" src="assets/js/leaflet.js"></script>
<script type="text/javascript" src="assets/js/leaflet.markercluster.js"></script>
<script type="text/javascript" src="assets/libraries/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/libraries/chartist/chartist.min.js"></script>
<script type="text/javascript" src="assets/js/scrollPosStyler.js"></script>
<script type="text/javascript" src="assets/js/villareal.js"></script>-->

<!--</body>-->