<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-9">
                            <div class="row">
                            </div><!-- /.row -->
                            <div class="widget">
                                <h1 class="widgettitle">Terms and Conditions</h1>
                                <p>
                                    Every user who uses Zarqoon.com is bound to abide by the terms and conditions mentioned in this page. This is
                                    an agreement between Zarqoon.com and the user using Zarqoon.com whether the said user is offering any property or service
                                    or is utlizing(searching, viewing, taking information etc in any way) the properties or services posted on Zarqoon.com.
                                    In case a user breaches this agreement, Zarqoon.com is entitled to legal action against the said user.
                                </p>
                                <h2 class="widgettitle">1. Description of key words in this agreement</h2>
                                <p>
                                    There are a few important concepts being used in this agreement whose meaning/description is the following:
                                    <br /> <br />
                                    - <strong>"Registration"</strong> When the user submits their information and verifies their email to be able to post material on Zarqoon.com.
                                    <br />
                                    - <strong>"Personal Details"</strong> Details that the user must enter when registering, Full Name and email.
                                    <br />
                                    - <strong>"Material"</strong> Anything that the user posts or provides to Zarqoon.com to post; whether it is a property(house,
                                    hostel, apartment, hotel) or service of any sort.
                                    <br />
                                    - <strong>"User"</strong> Any individual who visits Zarqoon.com and uses our platform in any way
                                </p>
                                <h2 class="widgettitle">2. User Terms</h2>
                                <p>
                                    The following are the terms accepted by the user:
                                    <br/>
                                    <strong>2.1 </strong>- The user must provide accurate personal details when registering with Zarqoon.com.
                                    <br/>
                                    <strong>2.2 </strong>- Zarqoon.com is entitled to the right to take down/disable a user account where it deems necessary or appropriate. The user will be notified via email. 
                                    <br />
                                    <strong>2.3 </strong>- Users are urged to report any sort of fraudulent or suspicious activity on Zarqoon.com to our email: support@zarqoon.com.
                                    <br />
                                    <strong>2.4 </strong>- Personal Details of the user provided during the registration process will not be sold or provided to any third-party. But
                                    if law enforcement agencies or a government authority requests Zarqoon.com to disclose this information about certain individual(s),
                                    this information may be disclosed in front of the said law enforcement agencies or government authorities.
                                    <br />
                                    <strong>2.5 </strong>- If the user disagrees with the statement above(2.4) about the disclosement of the personal details to law enforcement agencies or government authorities,
                                    then the user may not register with Zarqoon.com.
                                    <br />
                                    <strong>2.6 </strong>- The user agrees that they will not copy any data from Zarqoon.com and paste it on another website or application, manually or automatically, partially or completely. 
                                    <br/>
                                    <strong>2.7 </strong>- The user agrees not to damage or harm the Zarqoon.com website and infrastructure in any way.
                                    <br />
                                    <strong>2.8 </strong>- The user agrees not to dig into Zarqoon.com's infrastructure without permission and replicate, imitate or reverse engineer any of our technologies, processes
                                    and/or workflows.
                                    <br />
                                    <strong>2.9 </strong>- User agrees not to get involved in abusive or inappropriate behaviour while using Zarqoon.com, whether it is on the website or on call, email or in a personal meetup 
                                    with the people whose contact information was acquired through Zarqoon.com.
                                    <br />
                                    <strong>2.10 </strong>- The user agrees not to view or extract information from Zarqoon.com in an automated way by using some software or service, and that
                                    the user will use the service manually.
                                    <br />
                                    <strong>2.11 </strong>- Zarqoon.com holds the right to take down any kind of material from the website or terminate any kind of service agreement without any prior notice or announcement.
                                    <br />
                                    <strong>2.12 </strong>- User agrees to not post any sort of material that is illegal, abusive, dregatory or sexually explicit in nature and is not in negation to ethical, moral and/or
                                    legal point of views.
                                    <br />
                                    <strong>2.13 </strong>- The user cannot post any material on Zarqoon.com on behalf of another individual without the other individual's consent and permission.
                                    <br />
                                    <strong>2.14 </strong>- The user cannot post copyright material on Zarqoon.com without the permission of the material's owner.
                                    <br />
                                    <strong>2.15 </strong>- When a user posts material on Zarqoon.com or asks us to post it on their behalf, they confirm that they hold the authority to post that material as the owner/guardian of the posted entity(property or service)
                                    or with legit permission from the owner/guardian of the said entity.
                                    <br />
                                    <strong>2.16 </strong>- Specifically important with regards to the above point(2.15) is that the user will not post new or use existing Name, phone number and/or email of another individual without the other individual's consent;
                                    whether that individual(whose name, number and/or email is being used without their will) has lost their phone or their email was hacked or by any other false means. Zarqoon.com strictly forbids using 
                                    another individual's name, phone, email, any material or detail without their approval whether it is done while registration, posting new material or using already posted material by another user.
                                    <br/>
                                    <strong>2.17 </strong>- The user agrees not to use the contact information of the posted material to tease, harass or waste time intentionally of the poster. Zarqoon.com
                                    takes such matters very seriously and will take appropriate action.
                                    <br />
                                    <strong>2.18 </strong>- The user who posts their material on Zarqoon.com thus grants Zarqoon.com the permanent rights and license to use, consume, display, distribute, edit and/or delete the material
                                    at any time Zarqoon.com intends, without any prior notice. The user grants these rights and license to Zarqoon.com without any charge, fee or loyalty liable to Zarqoon.com and these
                                    rights are irrevocable.
                                </p>
                                <h2 class="widgettitle">3. Limitation of Liability</h2>
                                <p>
                                    <strong>3.1 </strong>- As Zarqoon.com doesn't charge any user anything, Zarqoon.com is not responsible of any sort of loss for any user, whether it is data loss, profit loss, financial loss, direct or indirect loss, decline in sales etc. Zarqoon.com will not be responsible
                                    for losses related to Zarqoon.com or with any third-party whose material appears on Zarqoon.com.
                                    <br/>
                                    <strong>3.2 </strong>- It is the whole responsibility of the users whether they are landlords, real estate agents, paying guests, service providers and/or service users or anyone using our service to purchase properties 
                                    and/or hire services at their own discretion/decision/responsibility.
                                    <br/>
                                    <strong>3.3 </strong>- It is the responsibility of the involved parties not Zarqoon.com to properly define and accept agreement(s) between them on the price, duration, use and every aspect of the property or service
                                    under consideration. All such transactions between the parties are independent of Zarqoon.com and hence Zarqoon.com is not liable for any such transactions.
                                    <br/>
                                    <strong>3.4 </strong>- Zarqoon.com will not be liable for any service outages or interruption, whether they are intentional or not. And hence Zarqoon.com is not responsible for the consequences that these interruptions or outages result in.
                                    <br/>
                                    <strong>3.5 </strong>- Although Zarqoon.com will do everything to ensure that our infrastructure is virus/malware free, still Zarqoon.com
                                    will not be responsible for any kind of data, financial or integrity loss on our website due to viruses or malware.
                                    <br/>
                                    <strong>3.6 </strong>- Zarqoon.com encourages and tries everything it can to accept only legit and accurate data, but Zarqoon.com does not research this data to be accurate and will not be responsible for any misleading, inaccurate or 
                                    false information. The user agrees that it is their own responsibility to research and involve with another party whom they come in contact with through Zarqoon.com.
                                    <br/>
                                    <strong>3.7 </strong>- Zarqoon.com does not charge any user anything, so is not liable to any financial penalties, fees or charges by any entities whatsoever.
                                    <br/>
                                    <strong>3.8 </strong>- The user thus relieves Zarqoon.com from any kind of expenses, claims and liabilities in case of legal action if the user breaches this agreement.
                                    <br/>
                                    <strong>3.9 </strong>- Zarqoon.com is not responsible for the links to and from other websites posted by users.
                                </p>
                                <h2 class="widgettitle">4. Disclaimer of Warranties</h2>
                                <p>
                                    <strong>4.1 </strong>- Zarqoon.com does not provide any warranty of the material that is posted on it's platform that it is accurate, reliable or trustworthy. The user holds the responsibility of contacting and dealing with
                                    the contacts that they find on Zarqoon.com, so a research should be made by the user of the said contacts before making transactions with them.
                                    <br/>
                                    <strong>4.2 </strong>- Zarqoon.com provides no warranty of any sort that what the user will get from our platform will be satisfactory to their needs. It is the responsibility of the user to assure their choice before getting into
                                    any transaction of any sort.
                                </p>
                                <h2 class="widgettitle">5. Changes to These Terms</h2>
                                <p>
                                    <strong>5.1 </strong>- Zarqoon.com holds the right to change the terms and conditions at any time it intends. Any changes to the terms and conditions will be effective as soon as they are updated by Zarqoon.com.
                                </p>
                                <h2 class="widgettitle">6. Intellectual Rights</h2>
                                <p>
                                    <strong>6.1 </strong>- The Zarqoon.com logo is the intellectual property of Zarqoon.com and must not be used by any other entity. Modification and alteration 
                                    of the logo to make it look different are also not allowed and may result in copyright infringement.
                                    <br/>
                                    <strong>6.2 </strong>- The GUI design and workflow, the business-logic infrastructure, the algorithms that make search work, the material that is posted by Zarqoon.com & the users and all the components that constitute or are 
                                    related to the Zarqoon.com infrastructure and processes are the intellectual property of Zarqoon.com and are not allowed to any sort of duplication or reverse engineering without Zarqoon.com's approval.
                                </p>
                            </div><!-- /.widget -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div><!-- /.main-wrapper -->

<link href="../lib/angular-material/angular-material.min.css" rel="stylesheet">