<div class="main-wrapper" ng-controller="HouseDetailsController">
    <div class="main">
        <div class="main-inner">

            <div class="content-title">
                <div class="content-title-inner">
                    <div class="container">
                        <h1 ng-bind="house.Title"></h1>
                    </div><!-- /.container -->
                </div><!-- /.content-title-inner -->
            </div><!-- /.content-title -->

            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="listing-detail-attributes">
                                <div class="listing-detail-attribute">
                                    <div class="key">Property Type</div>
                                    
                                    <div class="value">
                                        <div class="value-image">
                                            <a href="#" style="background-image: url('../assets/img/house_thumbnail.jpg');"></a>
                                        </div><!-- /.value-image -->
                                        {{house.PropertyType}}
                                    </div>
                                </div><!-- /.listing-detail-attribute -->
                                <div class="listing-detail-attribute">
                                    <div class="key">Location</div>
                                    <div class="value" ng-bind="house.Area"></div>
                                </div><!-- /.listing-detail-attribute -->

                                <div class="listing-detail-attribute">
                                    <div class="key">Rent</div>
                                    <div class="value" ng-bind="house.MonthlyRent"></div>
                                </div><!-- /.listing-detail-attribute -->
                            </div><!-- /.listing-detail-attributes -->
                        </div><!-- /.col-sm-12 -->
                        <div class="listing-detail col-md-8 col-lg-9" style="margin: -20px 0 0 0;">
                            <md-card layout="column" layout-align="center center" style="padding-bottom: 10px">
                                <!--<div ng-if="readyToLoadCarousel">-->
                                    <jk-carousel data="dataArray"
                                                 item-template-url="'item-template.html'"
                                                 max-width="800"
                                                 max-height="500">
                                    </jk-carousel>
                                <!--</div>-->
                            </md-card>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="overview">
                                        <h2>Property Attributes</h2>
                                        <ul>
                                            <li><strong>Price</strong><span>$ 480 / per week</span></li>
                                            <li><strong>Location</strong><span>New York</span></li>
                                            <li><strong>Status</strong><span>Rent</span></li>
                                            <li><strong>Bedrooms</strong><span>4</span></li>
                                            <li><strong>Bathrooms</strong><span>2</span></li>
                                            <li><strong>Area</strong><span>180 sqft</span></li>
                                        </ul>
                                    </div><!-- /.overview -->
                                </div><!-- /.col-* -->
                                <div class="col-lg-7">
                                    <h2>Property Description</h2>
                                    <p>
                                        Duis suscipit turpis suscipit lectus ultricies, placerat fermentum orci fringilla. Mauris semper magna cursus diam suscipit consectetur.
                                    </p>
                                    <p>
                                        Integer condimentum sodales metus, quis pellentesque nisi tempor at. Quisque ornare efficitur risus eu bibendum. Donec feugiat consequat magna in interdum. Donec malesuada orci et mi fermentum, ac tincidunt arcu tincidunt. Ut fringilla tellus sem, quis rhoncus dolor condimentum id. Vivamus ut commodo felis. Fusce in lacus egestas, mattis ex et, molestie est.
                                    </p>
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->
                            <div class="call-to-action-small">
                                <h1>Looking for more comfortable experience?</h1>
                                <h2>Check out our mobile application and browse the properties as no other.</h2>
                                <div class="call-to-action-small-buttons">
                                    <a href="#" class="btn btn-secondary"><i class="fa fa-apple"></i> Download iOS</a>
                                    <a href="#" class="btn btn-secondary"><i class="fa fa-android"></i> Download Android</a>
                                </div><!-- /.call-to-action-small-buttons -->
                            </div><!-- /.call-to-action-small -->
                            <h2>Amenities</h2>
                            <ul class="amenities">
                                <li class="yes">Conditioning</li>
                                <li class="no">Balcony</li>
                                <li class="no">Bedding</li>
                                <li class="no">Cable TV</li>
                                <li class="no">Cleaning</li>
                                <li class="no">Cofee pot</li>
                                <li class="no">Computer</li>
                                <li class="yes">Cot</li>
                                <li class="no">Dishwasher</li>
                                <li class="yes">DVD</li>
                                <li class="no">Fan</li>
                                <li class="yes">Fridge</li>
                                <li class="no">Grill</li>
                                <li class="yes">Hairdryer</li>
                                <li class="no">Heating</li>
                                <li class="yes">Hi-fi</li>
                                <li class="no">Internet</li>
                                <li class="yes">Iron</li>
                                <li class="no">Juicer</li>
                                <li class="yes">Lift</li>
                                <li class="yes">Microwave</li>
                                <li class="yes">Oven</li>
                                <li class="no">Parking</li>
                                <li class="no">Parquet</li>
                                <li class="yes">Pool</li>
                                <li class="yes">Radio</li>
                                <li class="no">Roof terrace</li>
                                <li class="no">Smoking</li>
                                <li class="yes">Terrace</li>
                                <li class="no">Toaster</li>
                                <li class="no">Towelwes</li>
                                <li class="no">Use of pool</li>
                            </ul>
                            <h2>Land Valuation</h2>
                            <p>
                                Donec malesuada orci et mi fermentum, ac tincidunt arcu tincidunt. Ut fringilla tellus sem, quis rhoncus dolor condimentum id. Vivamus ut commodo felis. Fusce in lacus egestas, mattis ex et, molestie est.
                            </p>
                            <div class="valuation">
                                <div class="valuation-item">
                                    <div class="valuation-item-key">
                                        Education
                                    </div><!-- /.valuation-item-key -->
                                    <div class="valuation-item-value">
                                        <span style="width: 86%">
                                            <strong>86%</strong>
                                        </span>
                                    </div><!-- /.valuation-item-value -->
                                </div><!-- /.valuation-item -->
                                <div class="valuation-item">
                                    <div class="valuation-item-key">
                                        Crime
                                    </div><!-- /.valuation-item-key -->
                                    <div class="valuation-item-value">
                                        <span style="width: 80%">
                                            <strong>80%</strong>
                                        </span>
                                    </div><!-- /.valuation-item-value -->
                                </div><!-- /.valuation-item -->
                                <div class="valuation-item">
                                    <div class="valuation-item-key">
                                        Pollution
                                    </div><!-- /.valuation-item-key -->
                                    <div class="valuation-item-value">
                                        <span style="width: 42%">
                                            <strong>42%</strong>
                                        </span>
                                    </div><!-- /.valuation-item-value -->
                                </div><!-- /.valuation-item -->
                                <div class="valuation-item">
                                    <div class="valuation-item-key">
                                        Traffic
                                    </div><!-- /.valuation-item-key -->
                                    <div class="valuation-item-value">
                                        <span style="width: 72%">
                                            <strong>72%</strong>
                                        </span>
                                    </div><!-- /.valuation-item-value -->
                                </div><!-- /.valuation-item -->
                                <div class="valuation-item">
                                    <div class="valuation-item-key">
                                        Kindergarten
                                    </div><!-- /.valuation-item-key -->
                                    <div class="valuation-item-value">
                                        <span style="width: 84%">
                                            <strong>84%</strong>
                                        </span>
                                    </div><!-- /.valuation-item-value -->
                                </div><!-- /.valuation-item -->
                            </div><!-- /.valuation -->
                            <h2>3 comments in this topic</h2>
                            <ul class="comments">
                                <li>
                                    <div class="comment">
                                        <div class="comment-author">
                                            <a href="#" style="background-image: url('assets/img/tmp/agent-1.jpg');"></a>
                                        </div><!-- /.comment-author -->
                                        <div class="comment-content">
                                            <div class="comment-meta">
                                                <div class="comment-meta-author">
                                                    Posted by <a href="#">admin</a>
                                                </div><!-- /.comment-meta-author -->
                                                <div class="comment-meta-reply">
                                                    <a href="#">Reply</a>
                                                </div>
                                                <div class="comment-meta-date">
                                                    <span>8:54 PM 11/23/2016</span>
                                                </div>
                                            </div><!-- /.comment -->
                                            <div class="comment-body">
                                                <div class="comment-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div><!-- /.comment-rating -->
                                                Integer condimentum sodales metus, quis pellentesque nisi tempor at. Quisque ornare efficitur risus eu bibendum. Donec feugiat consequat magna in interdum. Donec malesuada orci et mi fermentum
                                            </div><!-- /.comment-body -->
                                        </div><!-- /.comment-content -->
                                    </div><!-- /.comment -->
                                    <ul>
                                        <li>
                                            <div class="comment">
                                                <div class="comment-author">
                                                    <a href="#" style="background-image: url('assets/img/tmp/agent-1.jpg');"></a>
                                                </div><!-- /.comment-author -->
                                                <div class="comment-content">
                                                    <div class="comment-meta">
                                                        <div class="comment-meta-author">
                                                            Posted by <a href="#">admin</a>
                                                        </div><!-- /.comment-meta-author -->
                                                        <div class="comment-meta-reply">
                                                            <a href="#">Reply</a>
                                                        </div>
                                                        <div class="comment-meta-date">
                                                            <span>8:54 PM 11/23/2016</span>
                                                        </div>
                                                    </div><!-- /.comment -->
                                                    <div class="comment-body">
                                                        <div class="comment-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div><!-- /.comment-rating -->
                                                        Donec malesuada orci et mi fermentum, ac tincidunt arcu tincidunt. Ut fringilla tellus sem, quis rhoncus dolor condimentum id. Vivamus ut commodo felis. Fusce in lacus egestas, mattis ex et, molestie est.
                                                    </div><!-- /.comment-body -->
                                                </div><!-- /.comment-content -->
                                            </div><!-- /.comment -->
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="comment">
                                        <div class="comment-author">
                                            <a href="#" style="background-image: url('assets/img/tmp/agent-1.jpg');"></a>
                                        </div><!-- /.comment-author -->
                                        <div class="comment-content">
                                            <div class="comment-meta">
                                                <div class="comment-meta-author">
                                                    Posted by <a href="#">admin</a>
                                                </div><!-- /.comment-meta-author -->
                                                <div class="comment-meta-reply">
                                                    <a href="#">Reply</a>
                                                </div>
                                                <div class="comment-meta-date">
                                                    <span>8:54 PM 11/23/2016</span>
                                                </div>
                                            </div><!-- /.comment -->
                                            <div class="comment-body">
                                                <div class="comment-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div><!-- /.comment-rating -->
                                                Integer condimentum sodales metus, quis pellentesque nisi tempor at. Quisque ornare efficitur risus eu bibendum. Donec feugiat consequat magna in interdum. Donec malesuada orci et mi fermentum
                                            </div><!-- /.comment-body -->
                                        </div><!-- /.comment-content -->
                                    </div><!-- /.comment -->
                                </li>
                            </ul>
                            <h2>Write Feedback</h2>
                            <div class="comment-create">
                                <form method="post" action="?">
                                    <div class="form-group">
                                        <label>Message</label>
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div><!-- /.form-group -->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control">
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col-* -->
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>E-mail</label>
                                                <input type="email" class="form-control">
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col-* -->

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>URL</label>
                                                <input type="text" class="form-control">
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col-* -->
                                    </div><!-- /.row -->
                                    <div class="form-group-btn">
                                        <a href="#" class="btn btn-primary pull-right">Post Comment</a>
                                    </div><!-- /.form-group-btn -->
                                </form>
                            </div><!-- /.comment-create -->
                        </div><!-- /.col-* -->
                        <div class="col-md-4 col-lg-3">
                            <div class="widget">
                                <div method="post" class="mortgage-calculator">
                                    <div class="form-group">
                                        <label class="detail-contact-label">Interested?</label>
                                        <label class="detail-contact-label">Contact Owner</label>
                                    </div><!-- /.form-group -->
                                    <!--<input type="submit" class="btn btn-secondary btn-block" value="Calculate">-->
                                    <button type="submit" ng-class="{true: 'btn btn-white btn-block', false: 'btn btn-secondary btn-block'}[!tooltipIsOpen]" ng-click="tooltipIsOpen = !tooltipIsOpen">
                                        Show Phone Number<span tooltip-class="detail-page-content-tooltip" uib-tooltip-html="'Dummy Value'" tooltip-is-open="tooltipIsOpen" tooltip-placement="bottom"></span>
                                    </button>
                                </div>
                            </div><!-- /.widget -->
                            <div class="widget widget-background-white">
                                <h3 class="widgettitle">Inquire Form</h3>
                                <form method="post" action="?">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input type="text" class="form-control">
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input type="email" class="form-control">
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" class="form-control">
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label>Message</label>
                                        <textarea class="form-control" rows="4"></textarea>
                                    </div><!-- /.form-group -->
                                    <div class="form-group-btn">
                                        <button type="submit" class="btn btn-primary btn-block">Send Message</button>
                                    </div><!-- /.form-group-btn -->
                                </form>
                            </div><!-- /.widget -->
                            <div class="widget">
                                <h3 class="widgettitle">Assigned Agents</h3>

                                <div class="listing-small">
                                    <div class="listing-small-inner">
                                        <div class="listing-small-image">
                                            <a href="agent-detail.html" style="background-image: url('assets/img/tmp/agent-1.jpg');">
                                            </a>
                                        </div><!-- /.listing-small-image -->
                                        <div class="listing-small-content">
                                            <h3><a href="agent-detail.html">Linda A. Libby</a></h3>
                                            <h4><a href="mailto:info@example.com">info@example.com</a></h4>
                                        </div><!-- /.listing-small-content -->
                                    </div><!-- /.listing-small-inner -->
                                </div><!-- /.listing-small -->

                                <div class="listing-small">
                                    <div class="listing-small-inner">
                                        <div class="listing-small-image">
                                            <a href="agent-detail.html" style="background-image: url('assets/img/tmp/agent-2.jpg');">
                                            </a>
                                        </div><!-- /.listing-small-image -->
                                        <div class="listing-small-content">
                                            <h3><a href="agent-detail.html">Anita D. Smith</a></h3>
                                            <h4><a href="mailto:info@example.com">info@example.com</a></h4>
                                        </div><!-- /.listing-small-content -->
                                    </div><!-- /.listing-small-inner -->
                                </div><!-- /.listing-small -->

                                <div class="listing-small">
                                    <div class="listing-small-inner">
                                        <div class="listing-small-image">
                                            <a href="agent-detail.html" style="background-image: url('assets/img/tmp/agent-3.jpg');">
                                            </a>
                                        </div><!-- /.listing-small-image -->
                                        <div class="listing-small-content">
                                            <h3><a href="agent-detail.html">Ida R. Lane</a></h3>
                                            <h4><a href="mailto:info@example.com">info@example.com</a></h4>
                                        </div><!-- /.listing-small-content -->
                                    </div><!-- /.listing-small-inner -->
                                </div><!-- /.listing-small -->

                            </div><!-- /.widget -->
                            <div class="widget">
                                <ul class="nav nav-pills nav-stacked nav-style-secondary">
                                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-download"></i> Download Footprints</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-file-text"></i> PDF Version</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-file"></i> Legal Document</a></li>
                                </ul><!-- /.menu -->
                            </div><!-- /.widget -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div><!-- /.main-wrapper -->