<!--<!DOCTYPE html>

<body class="cover-pull-top header-transparent">
<div class="page-wrapper">-->

<div class="main-wrapper" ng-controller="SearchController">
    <!--<div class="main">-->
    <div class="main-inner">


        <div class="content">
            <div class="cover cover-center">
                <div class="cover-image">
                    <img src="/images/cover1-trimmed.png" /><!-- style="height:600px; width:1300px;overflow: hidden;">-->
                </div><!-- /.cover-image -->
                <!--<div class="cover-title">-->

                <div class="container">
                    <div class="cover-title-inner" style="padding-top:165px;">
                        <h1>Start Searching</h1>
                        <p> </p>
                        <!--<p> Villareal implements features like favorites, compare properties, advanced search fields. For more information check out full list of features.</p>-->
                    </div><!-- /.cover-title-->

                    <form ng-submit="getLocation()">
                        <div class="form-group col-sm-3">
                            <input class="form-control" type="text" name="location" placeholder="Location">
                        </div><!-- /.form-group -->
                        <!--<div class="form-group col-sm-3">
                            <select class="form-control">
                                <option value="">Property Type</option>
                                <option value="">Apartment</option>
                                <option value="">Building Area</option>
                                <option value="">Condo</option>
                                <option value="">House</option>
                                <option value="">Villa</option>
                            </select>
                        </div>-->
                        <!-- /.form-group -->

                        <div class="form-group col-sm-2">
                            <button type="submit" class="btn btn-primary btn-block">Search</button>
                        </div>
                    </form>
                </div><!-- /.container -->
                <!--</div>--><!-- /.cover-title -->
            </div><!-- /.cover -->

        </div><!-- /.content -->
    </div><!-- /.main-inner -->
    <!--</div>--><!-- /.main -->
    <div class="container">
        <div class="push-top">
            <div class="background-white fullwidth">
                <div class="boxes">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <i class="fa fa-diamond"></i>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <h2>Real Estate Kit</h2>
                                    <p>Specialized components for creation real estate websites &amp; applications.</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <i class="fa fa-star-o"></i>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <h2>Top Notch Support</h2>
                                    <p>Dd you have any questions? Feel free to ask and we will try to do our best.</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <i class="fa fa-cog"></i>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <h2>Clean Code</h2>
                                    <p>Everything is build upon Bootstrap 4 framework following best practises.</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-icon">
                                    <i class="fa fa-desktop"></i>
                                </div><!-- /.box-icon -->
                                <div class="box-content">
                                    <h2>Responsive Design</h2>
                                    <p>Template is incorporating Bootstrap 4 grid system with its 5 resolutions.</p>
                                </div><!-- /.box-content -->
                            </div><!-- /.box -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.boxes -->
            </div>
        </div>
    </div><!-- /.container -->
    <div ui-view></div>
</div><!-- /.main-wrapper -->
<!--</div>--><!-- /.page-wrapper -->

<!--<script src="//maps.googleapis.com/maps/api/js" type="text/javascript"></script>

<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.ezmark.min.js"></script>
<script type="text/javascript" src="assets/js/tether.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/gmap3.min.js"></script>
<script type="text/javascript" src="assets/js/leaflet.js"></script>
<script type="text/javascript" src="assets/js/leaflet.markercluster.js"></script>
<script type="text/javascript" src="assets/libraries/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/libraries/chartist/chartist.min.js"></script>
<script type="text/javascript" src="assets/js/scrollPosStyler.js"></script>
<script type="text/javascript" src="assets/js/villareal.js"></script>-->

<!--</body>-->