<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">

            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="alert alert-success" role="alert">
                            <strong>Great!</strong> 
                            <br/>
                            You have registered successfully.
                            <br/>
                            To activate your account, please check your email and just click on the provided link
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div><!-- /.main-wrapper -->

<link href="../lib/angular-material/angular-material.min.css" rel="stylesheet">