<div class="main-wrapper" ng-controller="myHousesController">
    <div class="main">
        <div class="main-inner" >
            <div class="container" style ="margin: -56px 200px 0; background-color: #fff; border-radius: 3px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <div class="content">
                            <form method="post" action="?">
                                <div class="page-header page-header-small">
                                    <h3>Basic Information</h3>
                                </div><!-- /.page-header -->

                                <div class="form-group">
                                    <label>Property Title</label>
                                    <input type="text" class="form-control">
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="6"></textarea>
                                </div><!-- /.form-group -->

                                <div class="page-header page-header-small">
                                    <h3>Payment Information</h3>
                                </div><!-- /.page-header -->

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Package</label>

                                            <select class="form-control">
                                                <option value="">Bronze + $10</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Payment Method</label>

                                            <select class="form-control">
                                                <option value="">Paypal</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Duration</label>

                                            <select class="form-control">
                                                <option value="">1 Year (Save 10%)</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->

                                <div class="page-header page-header-small">
                                    <h3>Location</h3>
                                </div><!-- /.page-header -->

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <select class="form-control"></select>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <select class="form-control"></select>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Sublocation</label>
                                            <select class="form-control"></select>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->

                                <div class="page-header page-header-small">
                                    <h3>Contact Information</h3>
                                </div><!-- /.page-header -->

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <input type="text" class="form-control">
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control">
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control">
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text" class="form-control">
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <input type="text" class="form-control">
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Website</label>
                                            <input type="text" class="form-control">
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->
                                </div>

                                <div class="page-header page-header-small">
                                    <h3>Amenities</h3>
                                </div><!-- /.page-header -->

                                <div class="checkbox-list" style="margin: 0 0 0 25px;">
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Air conditioning</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Balcony</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Bedding</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Cable TV</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Cleaning after exit</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Cofee pot</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Computer</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Cot</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Dishwasher</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> DVD</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Fan</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Fridge</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Grill</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Hairdryer</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Heating</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Hi-fi</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Internet</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Iron</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Juicer</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Lift</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Microwave</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Oven</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Parking</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Parquet</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Pool</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Radio</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Roof terrace</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Smoking allowed</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Terrace</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Toaster</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Towelwes</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Use of pool</label>
                                    </div><!-- /.checkbox-->
                                </div><!-- /.checkbox-list -->

                                <div class="page-header page-header-small">
                                    <h3>Additional Information</h3>
                                </div><!-- /.page-header -->

                                <div class="checkbox">
                                    <label><input type="checkbox"> Send me newsletter</label>
                                </div>

                                <div class="checkbox">
                                    <label><input type="checkbox"> I agree with terms &amp; conditions</label>
                                </div>

                                <div class="center">
                                    <a href="#" class="btn btn-primary">Submit Property</a>
                                </div><!-- /.center -->
                            </form>
                        </div><!-- /.content -->
                    </div><!-- /.col-* -->

                    <div class="col-md-4 col-lg-3">
                        <div class="sidebar">
                        </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>
    </div>
</div>