<div class="main-wrapper" ng-controller="myHousesController">
    <div class="main">
        <div class="main-inner" >
            <div class="container" style ="margin: -56px 200px 0; background-color: #fff; border-radius: 3px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);">
                <div class="row" style="padding: 10px 0 15px 180px">
                    <div class="col-md-8 col-lg-9">
                        <div class="content">
                            <form name="uploadHouseForm" method="post" ng-submit="uploadHouse()">
                                <div class="page-header page-header-small">
                                    <h3><strong>Property Information</strong></h3>
                                </div><!-- /.page-header -->

                                <div class="form-group">
                                    <label><strong>Property Title<span class="required-arsterisk">  *</span></strong></label>
                                    <input name="title" type="text" class="form-control" placeholder="Title for your property"
                                            ng-model="house.Title" required>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label><strong>Description</strong></label>
                                    <textarea class="form-control" rows="6" placeholder="For example: seaside with a great view, newly refurbished, safe locality etc" ng-model="house.Description"></textarea>
                                </div><!-- /.form-group -->
                                
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><strong>Monthly Rent<span class="required-arsterisk">  *</span></strong></label>
                                            <input type="text" class="form-control" placeholder="In Pakistani Rupees" 
                                                   ng-model="house.MonthlyRent" ng-pattern="numbersOnly" required>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->
                                
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><strong>Property Type<span class="required-arsterisk">  *</span></strong></label>
                                            <select class="form-control" ng-model="house.PropertyType" 
                                                    ng-options="propertyType as propertyType for propertyType in propertyTypes" required>
                                                <option value="" disabled selected style="display: none;">PropertyType</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label><strong>Number of Bedrooms</strong></label>
                                            <input type="text" class="form-control" placeholder="Enter a number" 
                                                   ng-model="house.NumberOfBedrooms">
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label><strong>Number of Bathrooms</strong></label>
                                            <input type="text" class="form-control" placeholder="Enter a number" 
                                                   ng-model="house.NumberOfBathrooms">
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label><strong>Number of Kitchens</strong></label>
                                            <input type="text" class="form-control" placeholder="Enter a number" 
                                                   ng-model="house.NumberOfKitchens">
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label><strong>Land Size</strong></label>
                                            <select class="form-control" ng-model="house.DimensionType" 
                                                    ng-options="dimensionType as dimensionType for dimensionType in dimensionTypes">
                                                <option value="" disabled required style="display: none;">Land Type</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->
                                    <div class="col-sm-2" style="margin: 28px 0 0 -30px;">
                                        <div class="form-group">
                                            <select ng-disabled="house.DimensionType === undefined || house.DimensionType === null"
                                                    class="form-control" ng-model="house.DimensionStringValue"
                                                    ng-options="propertySize as propertySize for propertySize in getPropertySizes(1,20)">
                                                <option value="" disabled selected style="display: none;" >Size</option>
                                            </select>
                                        <!--If the DimensionType is not empty but the DimensionString value is, then do not proceed instead show the error to the user on the UI-->
                                            <span class="error" ng-show="DimensionStringEmpty">
                                                Land Size is Required!
                                            </span>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->

                                <div class="row">
                                    <div class="col-sm-11">
                                        <div class="form-group">
                                            <label><strong>Location<span class="required-arsterisk">  *</span></strong></label>
                                            <input type="text" class="form-control" 
                                                   placeholder="Start Typing Location like: Saddar, Rawalpindi, Pakistan" 
                                                   options="autocompleteOptions" g-places-autocomplete ng-model="houseArea" 
                                                   autocomplete="off" required>
                                            Suggestions will be shown automatically once you start typing
                                            </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->

                            <div class="page-header page-header-small">
                                <h3><strong>Contact Information</strong></h3>
                            </div><!-- /.page-header -->
                                
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label><strong>Phone<span class="required-arsterisk">  *</span></strong></label>
                                        <input type="text" class="form-control" placeholder="For example: 03191234567" 
                                               maxlength="11" ng-model="house.OwnerPhoneNumber" required>
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->
                            </div>
                            <div class="page-header page-header-small">
                                <h3><strong>Upload Photos</strong></h3>
                                </div><!-- /.page-header -->
                                <!--<input type="file" nv-file-select="" uploader="uploader" multiple />-->
                                <label class="fileContainer btn btn-primary" >
                                    Choose Files
                                    <input type="file" nv-file-select="" uploader="uploader" multiple/>
                                </label>
                                <!--<button ng-click="upload()"></button>-->
                                <table class="table">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td>
                                            <strong>{{ item.file.name }}</strong>
                                            <!-- Image preview -->
                                            <!--auto height-->
                                            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                            <!--auto width-->
                                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                            <!--fixed width and height -->
                                            <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                        </td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span> Remove
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                
                                <div class="page-header page-header-small">
                                    <h3><strong>Facilities</strong></h3>
                                </div><!-- /.page-header -->
                                
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label><strong>Gender Restrictions</strong></label>
                                            <select class="form-control" ng-model="genderRestriction"
                                                    ng-options="genderRestriction as genderRestriction for genderRestriction in genderRestrictions">
                                                <option value="" disabled required style="display: none;">Gender Restrictions</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->

                                <div class="checkbox-list" style="margin: 0 0 0 25px;">
                                    <div class="checkbox">
                                        <label><input type="checkbox" ng-model="house.InternetAvailable"> Internet</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox" ng-model="house.LandlinePhoneAvailable"> Landline Phone</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox"  ng-model="house.CableTvAvailable"> Cable Tv</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox" ng-model="house.GarageAvailable"> Garage</label>
                                    </div><!-- /.checkbox-->

                                    <div class="checkbox">
                                        <label><input type="checkbox" ng-model="house.SmokingAllowed"> Smoking Allowed</label>
                                    </div><!-- /.checkbox-->

                                </div><!-- /.checkbox-list -->
                                
                                <!--<div class="page-header page-header-small">
                                    <h3>Agreement</h3>
                                </div>

                                <div class="checkbox" style="margin: -20px 0 20px 25px;">
                                    <label><input type="checkbox"> I agree with terms &amp; conditions</label>
                                </div>-->

                            <div class="center">
                                <button class="btn btn-primary" ntype="submit">Submit Property</button>
                            </div><!-- /.center -->
                            </form>
                        </div><!-- /.content -->
                    </div><!-- /.col-* -->

                    <div class="col-md-4 col-lg-3">
                        <div class="sidebar">
                        </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>
    </div>
</div>